<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588280098588-1t7gb90fhd0t96fg25cvalbnpcohsnjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588280098588-1t7gb90fhd0t96fg25cvalbnpcohsnjm</string>
	<key>API_KEY</key>
	<string>AIzaSyD9hzQ0x0FeIRigBw_4ewXE1zAPdnUYSMg</string>
	<key>GCM_SENDER_ID</key>
	<string>588280098588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.firebase</string>
	<key>PROJECT_ID</key>
	<string>esp32rtb-84244</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32rtb-84244.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588280098588:ios:ab8f558a1ecba3dccad4d9</string>
	<key>DATABASE_URL</key>
	<string>https://esp32rtb-84244-default-rtdb.firebaseio.com</string>
</dict>
</plist>